services:
  postgres:
    image: postgres:16-alpine
    container_name: metodo-forum-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: forum
    ports:
      - "5432:5432"

  adminer:
    image: adminer:latest
    container_name: metodo-forum-adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
      ADMINER_DESIGN: dracula
